@use "@styles/colors";
@use "@styles/media";

.main {
  margin: 0 24px 400px;
  
  // @include media.bp("desktop") {
  //   margin: 0 auto 200px;
  // }

  @include media.bp("desktop-wide") {
    margin: 0 92px 200px;
  }
}

.grid {
  position: relative;
  padding: 24px;
  display: grid;
  column-gap: 48px;

  border: 1px solid colors.$stroke;
  border-radius: 24px;

  > h2 {
    margin: 0 auto 24px;
    color: colors.$primary-hover;
    font-weight: 600;
    text-align: center;
  }

  @include media.bp("desktop") {
    padding: 32px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    grid-auto-flow: column;
    
    > h2 {
      width: 200px;
      margin: 0 0 24px;
      text-align: left;
    }
  }

  @include media.bp("desktop-wide") {
    padding: 48px;
  }
}

.ours {
  // visibility: hidden;
  position: absolute;
  width: 100%;
  height: 294px;
  right: -10px;
  bottom: -270px;
  padding: 32px;

  background: colors.$primary;
  color: colors.$text-primary;
  border-radius: 24px;
  
  h2 {
    color: white;
  }
  
  @include media.bp("tablet") {
    width: 100%;
  }

  @include media.bp("desktop") {
    height: 100%;
    width: 342px;
    top: -40px;
    bottom: auto;
    right: -10px;
  }

  @include media.bp("desktop-wide") {
    right: 32px;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  border-radius: 1000px;
}

.proscons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  
  h2 {
    color: colors.$text-primary;
  }
  
  p {
    color: colors.$text-secondary;
  }

  @include media.bp("desktop") {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
  
    p {
      height: 100px;
    }
  }
}

.ours .proscons p {
  color: colors.$text-primary;
}
