@use "@styles/colors";
@use "@styles/media";

.main {
  margin: 0 24px 60px;

  @include media.bp("desktop") {
    margin: 0 64px 140px;
  }
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;

  @include media.bp("desktop") {
    justify-content: space-between;
  }
}

.flexItem {
  flex: 1 1 calc(100% - 32px);
  width: 84vw;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid colors.$stroke;
  background: #fff;

  @include media.bp("tablet") {
    flex: 1 1 calc(50% - 32px);
  }

  @include media.bp("desktop") {
    flex: 1 1 calc(25% - 32px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
  }

  h2 {
    color: colors.$primary-purple;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;

    @include media.bp("desktop") {
      min-height: 60px;
    }
  }
}

.ours {
  background: colors.$secondary-orange;
  color: colors.$secondary-orange;
  border-radius: 24px;
  padding: 32px;
  text-align: center;

  h2, p {
    color: white;
  }

  @include media.bp("desktop") {
    height: auto;

    .proscons {
      margin-top: 16px;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  color: colors.$primary;
}

.logo {
  margin-bottom: 16px;

  @include media.bp("desktop") {
    margin-bottom: 0;
  }
}

.proscons {
  display: flex;
  flex-direction: row;
  gap: 32px;

  @include media.bp("desktop") {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  h2 {
    display: flex;
    align-items: center;
    color: colors.$text-primary;
    margin-bottom: 8px;
  }
  
  p {
    color: colors.$text-secondary;
    margin: 0;
    text-align: center; 
  }

  .prosItem, .consItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 120px;

    @include media.bp("desktop") {
      width: 100%;
    }
  }

  .icon {
    margin-right: 8px;
  }
}

.ours .proscons p {
  color: white;
}
